<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lars Lenssen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lars Lenssen is a Doctoral Student at TU Dortmund University">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td class="bio">
            <h1 class="name ">Lars Lenssen</h1>
            <p>Research Associate at <a href="https://dm.cs.tu-dortmund.de/en/team/lenssen/" >TU Dortmund University</a>, IT Consultant as Freelancer<br/>
            <h3>Short Biography</h3>
            <ul>
                <li>Doctoral Student at <a href="https://dm.cs.tu-dortmund.de/en/" >TU Dortmund University</a> under <a href="https://dm.cs.tu-dortmund.de/en/team/schubert/" >Erich Schubert</a>.</li>
                <li>Wide experience in the german energy market, obtained under <a href="https://www.linkedin.com/in/uwe-strahmann-68872b15/" >Uwe Strahmann</a>.</li>
                <li>10 years of project experience for energy utilities companies, e.g: <a href="https://eon.com/" >E.ON Digital Technology</a> and <a href="https://www.wipro.com/" >Wipro Limited</a>.</li>
                <li>Proud father of two sons and passionate table tennis player.</li>
            </ul>
             {{ metadata | safe }} 
             <a href="https://www.linkedin.com/in/lars-lenssen-25470a164/" >[LinkedIn]</a>   
             <a href="https://www.xing.com/profile/Lars_Lenssen2/cv" >[XING]</a> 
             <a href="https://scholar.google.de/citations?user=cbF4A6EAAAAJ" >[Google Scholar]</a>  
             <a href="https://www.freelancermap.de/profil/lars-lenssen " >[freelancermap]</a> 
             <a href="mailto:lars@lenssen-consulting.de" >[Email]</a>    </p>
          </td>
          <td class="photo">
            <img src="figures/picture.jpg" width="100%"> <br/>
          </td>
        </tr>
      </tbody>
    </table>
    My research interests lie in different clustering objectives, resource-efficient implementations and intrinsic clustering quality measures.
    <h2 id="publications">Publications</h2>
    <ul class="publications">
      {% for pub in publications %}
        <li class="pub">
            <table>
              <tbody>
                <tr>
                  <td class="pub-teaser" width="23%">
                    <img src={{ pub.teaser }}  style="width: 90%;">
                  </td>
                  <td>
                    <span class="pub-title">{{ pub.title }}</span><br/>
                    {{ pub.conference }}<br/>
                    <span>{{ pub.authors | safe }}<br/>
                    <span class="pub-bold"> Short Abstract: </span>{{ pub.abstract | safe }}<br/>
                    {{ pub.data | safe }}<br/>
                  </td>
                </tr>
              </tbody>
            </table>
        </li>
      {% endfor %}
    </ul>
    <h2 id="projects">Selected Projects</h2>
    <ul class="projects">
      {% for pro in projects %}
        <li class="pro">
            <table>
              <tbody>
                <tr>
                  <td>
                    <span class="pub-title">{{ pro.title }}</span><br/>
                    <span class="pub-bold"> Duration: </span>{{ pro.duration }}<br/>
                    <span class="pub-bold"> Context: </span> <span>{{ pro.technology | safe }}<br/>
                    <span class="pub-bold"> Description: </span>{{ pro.description | safe }}<br/>
                  </td>
                </tr>
              </tbody>
            </table>
        </li>
      {% endfor %}
    </ul>
    <center> Template adapted from <a href="https://janericlenssen.github.io">Jan Eric Lenssen</a>. Thanks!
  </body>
</html>